
	<div class="small-12 cell">
	<form>
			<div class="grid-x">
					<div class="small-12 cell">
							<label for="email">Employee ID:
							<input type="text" id="id">
						</label>
					</div>
					<div class="small-12 cell">
							<label for="email">Name:
							<input type="text" id="name">
						</label>
					</div>
					<div class="small-12 cell">
							<label for="email">Age:
							<input type="text" id="age">
						</label>
					</div>
				</div>
	  <button class="button success" id="addEmpl">Submit</button>
	</form>
</div>