<div>
	<form>
	  <div class="form-group">
	    <input type="hidden" value="<%= id %>" class="form-control" id="updatedId">
	  </div>
	  <div class="form-group">
	    <label for="name">Name:</label>
	    <input type="text" value="<%= name %>" class="form-control" id="updatedName">
	  </div>
	  <div class="form-group">
	    <label for="age">Age:</label>
	    <input type="text" value="<%= age %>" class="form-control" id="updatedAge">
	  </div>
	  <button class="btn btn-primary" id="updateEmpl">Update</button>
	</form>
</div>