<header>
    <a href="https://nisum.com" class="logo text-center" target="_blank"><img src="../assets/images/logo.png" alt="" height="45" width="110" /></a>
    <div class="curve-shape"></div>
    <nav>
        <ul class="dropdown menu text-center" data-dropdown-menu>
            <li><a href="#/home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a href="#/about">Employee Info</a></li>
          </ul>
          <span>HR Portal</span>
    </nav>
    <div class="user-info">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
      Welcome: <span>user name</span>
      <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
    </div>
</header>